

@{
    ViewBag.Title = "Home Page";
}

@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">
    $(document).ready(function () {
        loadData();
        var btnGetData = document.getElementById('btnGetData');
        btnGetData.addEventListener('click', loadData);
    })
    function loadData() {
        $.ajax({
            url: "/Home/GetTrips",
            type: "GET",
            contentType: "application/json",
            dataType: "",
            success: function (response) {
                // console.log(response);
                var html = '';

                $.each(response, function (key, item) {
                    var startDate = new Date(parseInt(item.StartDate.substr(6)));
                    var formattedStartDate = startDate.toLocaleDateString();

                    var endDate = new Date(parseInt(item.EndDate.substr(6)));
                    var formattedEndDate = endDate.toLocaleDateString();
                    html += '<tr>';
                    html += '<td>' + item.Destination + '</td>';
                    html += '<td>' + item.Description + '</td>';
                    //html += '<td>' + item.StartDate + '</td>';
                    //html += '<td>' + item.EndDate + '</td>';
                    html += '<td>' + formattedStartDate + '</td>';
                    html += '<td>' + formattedEndDate + '</td>';
                    html += '<td><a href="#" onClick="Delete(' + item.TripID + ')">Delete</a></td>';
                    html += '</tr>';
                });
                $('.tbody').html(html);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }

            
        });
    }

    function Delete(TripID) {

        var ans = confirm('Are you sure you want to delete this trip?');
        if (ans) {
            $.ajax({
                url: "/Home/DeleteTrip/",
                data: JSON.stringify({ TripID: TripID }),
                type: "POST",
                contentType: "application/json",
                dataType: "json",
                success: function (response) {
                    loadData();

                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
    }

</script>

<main>
    @*<section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </section>
    </div>*@

    <div>
        <button type="button" id="btnGetData">GetData</button>
    </div>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <td>Destination</td>
                <td>Description</td>
                <td>Trip Start Date</td>
                <td>Trip End Date</td>
                <td>Delete</td>
            </tr>
        </thead>
        <tbody class="tbody">
            @*Trip records will to populated here*@
        </tbody>
    </table>
</main>